body {
  width: 23.438rem;
  height: auto;
  background-color: white;
  font-family: "Roboto", sans-serif;
}

a  /* supprime le soulignement et la couleur violette des textes cliquables */ {
  text-decoration: none;
  color: initial;
}
#header {
  width: 100%;
  height: 3.94rem;
  font-family: "Shrikhand";
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: baseline;
  position: relative;
}

#header i {
  font-size: 1.2rem;
  position: absolute;
  left: 1.5rem; top: 1.3rem
}

.logoh {
	width: 10.3rem;
	height: 1.7rem;
	cursor: pointer;
  position: absolute;
  left: 7rem; top: 1.2rem
}

.reglagephoto {
  width: 100%;
  height: 16.6rem;
}

#menu {
  display: flex;
  flex-direction: column;
  background-color: rgb(244, 244, 244);
  border-radius: 1.6rem 1.6rem 0 0;
}
.restauname {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  font-family: "Shrikhand";
  padding-left: 1rem;
}
.restauname i {
  font-size: 1.5rem;
  padding-right: 2rem;
}
.titlem {
  font-weight: 200;
  font-size: 1rem;
  border-bottom: solid #99e2d0;
  width: 2.5rem;
  margin-left: 0.9rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.vignette {
  background-color: white;
  width: 20.9rem;
  height: 4.25rem;
  border-radius: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.9rem;
  box-shadow: 0.3rem 0.3rem 0.3rem rgb(230, 230, 230);
}

.textv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1rem;
  line-height: 1.5rem;
}
.plat {
  font-size: 1.1rem;
}

.plus {
  font-weight: 100;
  font-size: 0.85rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.price {
  padding-right: 1.5rem;
  padding-top: 1.6rem;
  font-weight: bold;
}

.order {
  width: 11.6rem;
  height: 3.13rem;
  cursor: pointer;
  background: linear-gradient(to right bottom, #ff79da, #9356dc);
  box-shadow: 0.6rem 0.6rem 0.6rem rgb(230, 230, 230);
  color: white;
  text-align: center;
  line-height: 3rem;
  border-radius: 2.5rem;
  margin: 3rem 0 3rem 5rem;
}

#footer {
  background-color: rgb(40, 40, 40);
  color: white;
  padding: 0 0 1.5rem 1rem;
}

#footer a {
	color: white;
	cursor: pointer;
}

.logof {
  font-family: "Shrikhand";
  color: white;
  font-size: 1.1rem;
  padding: 1rem 0 1rem 1rem;
}

.suggest .partner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.suggest {
  padding-bottom: 0.8rem;
}

.suggest i {
  font-size: 0.8rem;
  margin-right: 1rem;
}
.partner i {
  margin-right: 0.7rem;
  font-size: 0.8rem;
}
