font-family: 'Shrikhand', cursive;
font-family: 'Roboto', sans-serif;

body 
{
	width:  375px;
	height: auto;
	background-color: white;
	font-family: 'Roboto', sans-serif;
}

a  /* supprime le soulignement et la couleur violette des textes cliquables */
{ 
	text-decoration: none;
	color: initial;
} 

.kikou
{
	font-size: 3rem;
	background-color: brown;
}