@charset "UTF-8";
@-webkit-keyframes liking_heart {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-animation-timing-function: cubic-bezier(0.96, 0.04, 0.99, 0.95);
            animation-timing-function: cubic-bezier(0.96, 0.04, 0.99, 0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes liking_heart {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-animation-timing-function: cubic-bezier(0.96, 0.04, 0.99, 0.95);
            animation-timing-function: cubic-bezier(0.96, 0.04, 0.99, 0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes rotate_circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate_circle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes progress {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0.5rem);
            transform: translate(0, 0.5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes progress {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0.5rem);
            transform: translate(0, 0.5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.like__heart {
  font-size: 1.5rem;
  position: relative;
}

.button_like__heart {
  position: absolute;
  bottom: 0;
  right: 0;
}

.button_like__heart--on {
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), color-stop(75%), to(#9356DC));
  background: linear-gradient(to right bottom, #FF79DA, 75%, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.button_like__heart--off {
  z-index: 1;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.button_like__heart--off:hover {
  opacity: 0;
}

.button_like__heart--off:hover + .button_like__heart--on {
  -webkit-animation: liking_heart 400ms both;
          animation: liking_heart 400ms both;
}

.btn__order {
  border-radius: 2.5rem;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  color: white;
  margin: auto;
  text-align: center;
  padding: 1rem 0 1rem 0;
  width: 11rem;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: none;
  font-size: 1rem;
}

.btn__order:hover {
  -webkit-box-shadow: 5px 5px 10px #575757;
          box-shadow: 5px 5px 10px #575757;
  opacity: 0.7;
  cursor: pointer;
}

.footer {
  width: 96%;
  background-color: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0 2rem 4%;
}

.footer a {
  color: white;
  padding-top: 0.5rem;
}

.footer__title {
  font-family: "Shrikhand";
  color: white;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.footer__list__icones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__list__noicones a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__list__icones i {
  padding-right: 1rem;
}

/* nouvelles règles si mon site est consulté sur un écran d'ordinateur */
@media screen and (min-width: 1024px) {
  .footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .footer__title {
    font-size: 2rem;
    padding-left: 6rem;
    padding-right: 5rem;
    padding-top: 2%;
  }
  .footer__list__icones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 3rem 2rem 5rem;
  }
  .footer__list__noicones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 3rem 2rem 5rem;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: initial;
}

.research {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

.research__city {
  width: 100%;
  background-color: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0 1rem 0;
}

.research__city i {
  padding-right: 0.75rem;
}

.research__input {
  width: 8rem;
  border-style: none;
  background-color: #e5e5e5;
  font-size: 1rem;
  color: black;
  cursor: text;
}

.research__explore {
  width: 100%;
  height: auto;
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 3rem;
}

.research__explore h1 {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 1rem 2.5rem 1rem 2.5rem;
}

.research__explore p {
  font-size: 1rem;
  font-weight: 100;
  margin-top: -0.5rem;
  padding: 0.5rem 1.5rem 1rem 1.5rem;
}

.explore__button {
  border-radius: 2.5rem;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  color: white;
  margin: auto;
  text-align: center;
  padding: 1rem 0 1rem 0;
  width: 13.6rem;
  font-weight: 400;
  border: none;
  font-size: 1rem;
}

.explore__button:hover {
  -webkit-box-shadow: 5px 5px 10px #575757;
          box-shadow: 5px 5px 10px #575757;
  opacity: 0.7;
  cursor: pointer;
}

.function {
  width: 95%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0 2rem 5%;
}

@media screen and (min-width: 426px) {
  .function {
    width: 100%;
    padding-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .function .h2 {
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .function {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

h2 {
  font-size: 1.3rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.function__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 1024px) {
  .function__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 96%;
  }
}

.function__card {
  width: 90%;
  height: 4.4rem;
  font-size: 1rem;
  font-family: 'Roboto';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #f4f4f4;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0.3rem 0.3rem 0.3rem #e6e6e6;
          box-shadow: 0.3rem 0.3rem 0.3rem #e6e6e6;
  margin: 1rem 0 0.5rem 0.5rem;
  cursor: pointer;
  position: relative;
  padding-left: 1rem;
  border: none;
}

@media screen and (min-width: 426px) {
  .function__card {
    width: 18rem;
    margin: 1rem 0 1rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .function__card {
    margin: 0 1rem 0 1rem;
  }
}

.function__card:hover {
  background-color: #efe2fa;
  -webkit-box-shadow: 5px 5px 10px #9A9C9C;
          box-shadow: 5px 5px 10px #9A9C9C;
  cursor: pointer;
}

.number {
  width: 1.6rem;
  height: 1.6rem;
  font-size: 0.9rem;
  background-color: #9356DC;
  color: white;
  border-radius: 100%;
  text-align: center;
  line-height: 1.7rem;
  position: absolute;
  bottom: 1.3rem;
  left: -0.5rem;
}

.function__card i {
  padding: 1rem;
  font-size: 1.2rem;
  color: #6b6b6b;
}

#restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f4f4f4;
  width: 100%;
  height: auto;
  padding: 2rem 0 2rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

#restaurants h2 {
  width: 96%;
  padding-left: 4%;
  font-size: 1.3rem;
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  #restaurants {
    width: 100%;
  }
}

.restaurants__labels {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: auto;
}

@media screen and (min-width: 426px) {
  .restaurants__labels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .restaurants__labels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.restaurant__card {
  background-color: white;
  width: 90%;
  height: 25%;
  border-radius: 1rem;
  margin: 0 0 1rem 0.8rem;
  position: relative;
}

@media screen and (min-width: 1024px) {
  .restaurant__card {
    width: 45%;
    margin: 1rem;
  }
}

.card__new {
  width: 5rem;
  height: 1.9rem;
  background-color: #99E2D0;
  color: #157753;
  font-size: 0.9rem;
  border-radius: 0.3rem;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  top: 1.3rem;
  right: 1.3rem;
}

.card__new p {
  margin-top: 0.5rem;
}

.restaurant__photo {
  width: 100%;
  height: 10.9rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.underphoto {
  width: 100%;
  height: 4.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.underphoto__text {
  padding-left: 1rem;
}

.underphoto .underphoto__text h3 {
  font-size: 1.2rem;
  margin-top: 0.3rem;
}

.underphoto .district {
  font-weight: 100;
  margin-top: -0.8rem;
}

.underphoto .like__heart i {
  padding-right: 1rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

a {
  text-decoration: none;
  color: initial;
}

.header {
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: auto;
}

.header i {
  font-size: 1.2rem;
  position: absolute;
  bottom: 40%;
  left: 3%;
}

.header__logo {
  width: 10.3rem;
  height: 1.7rem;
  cursor: pointer;
  padding-top: 0.6rem;
}

.header__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__menu__picture img {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__menu__title {
  font-family: "Shrikhand";
  border-radius: 1.5rem 1.6rem 0 0;
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
  -webkit-transform: translate(0, -40%);
          transform: translate(0, -40%);
}

.header__menu__title h1 {
  font-size: 1.5rem;
}

.like__heart i {
  padding: 2rem 1rem 0 0;
  margin-bottom: -0.7rem;
}

.major {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f4f4f4;
  position: relative;
}

.menu__title {
  font-weight: 200;
  font-size: 1rem;
  border-bottom: solid #99E2D0;
  width: 2.5rem;
  margin-left: 0.9rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.menu__card {
  background-color: white;
  width: 88%;
  margin-left: 4%;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-shadow: 0.3rem 0.3rem 0.3rem #e6e6e6;
          box-shadow: 0.3rem 0.3rem 0.3rem #e6e6e6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.menu__card:nth-child(2) {
  opacity: 0;
  -webkit-animation: progress 1s 0.1s forwards;
          animation: progress 1s 0.1s forwards;
}

.menu__card:nth-child(3) {
  opacity: 0;
  -webkit-animation: progress 1s 0.3s forwards;
          animation: progress 1s 0.3s forwards;
}

.menu__card:nth-child(4) {
  opacity: 0;
  -webkit-animation: progress 1s 0.5s forwards;
          animation: progress 1s 0.5s forwards;
}

.menu__card:nth-child(5) {
  opacity: 0;
  -webkit-animation: progress 1s 0.7s forwards;
          animation: progress 1s 0.7s forwards;
}

.menu__card:hover .menu__card__check {
  width: 4rem;
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
}

.menu__card:hover .menu__card__price {
  margin-right: 4rem;
  -webkit-transition: margin-right 0.7s;
  transition: margin-right 0.7s;
}

.menu__card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 1.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__card__title {
  font-size: 1.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__card__description {
  font-weight: 100;
  font-size: 0.85rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__card__price {
  padding-top: 1.6rem;
  font-weight: bold;
  margin-right: 2%;
  -webkit-transition: margin-right 0.7s;
  transition: margin-right 0.7s;
}

.menu__card__check {
  background-color: #99E2D0;
  color: white;
  width: 0;
  height: 100%;
  font-size: 2rem;
  text-align: center;
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__card__check__circle {
  -webkit-transform: rotate(0turn);
          transform: rotate(0turn);
  font-size: 1.5rem;
}

.menu__card:hover .menu__card__check__circle {
  -webkit-animation: rotate_circle 0.75s;
          animation: rotate_circle 0.75s;
}

/* nouvelles règles si mon site est consulté sur un écran de tablette */
/* nouvelles règles si mon site est consulté sur un écran d'ordinateur */
@media screen and (min-width: 1024px) {
  .major {
    padding: 0;
    margin-top: -2%;
  }
  .menu {
    width: 95%;
    margin-left: 1.8%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu__start {
    width: 30%;
  }
  .menu__main {
    width: 30%;
  }
  .menu__dessert {
    width: 30%;
  }
  .menu__card {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-shadow: 0.3rem 0.3rem 0.3rem #e6e6e6;
            box-shadow: 0.3rem 0.3rem 0.3rem #e6e6e6;
  }
  .btn__order {
    background-color: #f4f4f4;
  }
}
/*# sourceMappingURL=main.css.map */