body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
a {
  text-decoration: none;
  color: initial;
}

.header {
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin: auto;
}
.header i {
  font-size: 1.2rem;
  position: absolute;
  bottom: 40%;
  left: 3%;
}
.header__logo {
  width: 10.3rem;
  height: 1.7rem;
  cursor: pointer;
  padding-top: 0.6rem;
}

.header__menu {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header__menu__picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.header__menu__title {
  font-family: "Shrikhand";
  border-radius: 1.6rem 1.6rem 0 0;
  background-color: rgb(244, 244, 244);
  margin-top: -10%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
}
.header__menu__title h1 {
  font-size: 1.5rem;
}
.header__menu__title i {
  font-size: 1.5rem;
  padding-right: 2rem;
}

.major {
  display: flex;
  flex-direction: column;
  background-color: rgb(244, 244, 244);
  position: relative;
}
.menu__title {
  font-weight: 200;
  font-size: 1rem;
  border-bottom: solid #99e2d0;
  width: 2.5rem;
  margin-left: 0.9rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.menu__card {
  background-color: white;
  width: 94%;
  margin-right: 3%;
  margin-left: 3%;
  height: 4.25rem;
  border-radius: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0.3rem 0.3rem 0.3rem rgb(230, 230, 230);
}

.menu__card__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1rem;
  line-height: 1.5rem;
}
.menu__card__title {
  font-size: 1.1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 2rem;
}
.menu__card__description {
  font-weight: 100;
  font-size: 0.85rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 2rem;
}
.menu__card__price {
  padding-right: 2rem;
  padding-top: 1.6rem;
  font-weight: bold;
}

.btn__order {
  width: 11.6rem;
  height: 3.13rem;
  cursor: pointer;
  background: linear-gradient(to right bottom, #ff79da, #9356dc);
  box-shadow: 0.6rem 0.6rem 0.6rem rgb(230, 230, 230);
  color: white;
  text-align: center;
  line-height: 3rem;
  border-radius: 2.5rem;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.footer {
  width: 95%;
  background-color: rgb(40, 40, 40);
  display: flex;
  flex-direction: column;
  padding: 1rem 0 2rem 5%;
}
.footer a {
  color: white;
  padding-top: 0.5rem;
}
.footer__title {
  font-family: "Shrikhand";
  color: white;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}
.footer__list__icones {
  display: flex;
  flex-direction: column;
}
.footer__list__noicones a {
  display: flex;
  flex-direction: column;
}
.footer__list__icones i {
  padding-right: 1rem;
}

/* nouvelles règles si mon site est consulté sur un écran d'ordinateur */

@media screen and (min-width: 1024px) {
  .major {
    padding: 1rem 0 1rem 0;
  }

  .menu {
    width: 94%;
    margin-right: 3%;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .btn__order {
    background-color: rgb(244, 244, 244);
  }

  .footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
  }
  .footer__title {
    font-size: 2rem;
    padding-left: 6rem;
    padding-right: 5rem;
    padding-top: 2%;
  }

  .footer__list__icones {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem 2rem 5rem;
  }

  .footer__list__noicones {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem 2rem 5rem;
  }
}
