@mixin flex_row_center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@mixin flex_column_between_center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

@mixin flex_row_nowrap_between_center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

@mixin button {
    border-radius: 2.5rem;
    cursor: pointer;
    background: linear-gradient(to right bottom, #ff79da, #9356dc);
    color: white;
    margin: auto;
    text-align: center;
    padding: 1rem 0 1rem 0;
}

@mixin absolute-element ($top, $right, $bottom, $left, $x, $y) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    transform: translate($x, $y);
}

@mixin box-shadow {
    box-shadow: 0.3rem 0.3rem 0.3rem rgb(230, 230, 230);
}

@mixin text-ajust {
    text-overflow: ellipsis;
    overflow: hidden;
}