body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1800px;
}

a {
    text-decoration: none;
    color: initial;
}

/* section recherches */
.research {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;

    &__city {
        width: 100%;
        background-color: rgb(229, 229, 229);
        @include flex(row, center, center);
        padding: 1rem 0 1rem 0;

        i {
            padding-right: 0.75rem;
        }
    }
}

.research__input {
    font-family: "Roboto", sans-serif;
    color: black;
    width: 8rem;
    border-style: none;
    background-color: rgb(229, 229, 229);
    font-size: 1rem;
    cursor: text;
}

/* section explore */
.research__explore {
    width: 100%;
    height: auto;
    background-color: $fond-lightgrey;
    @include flex(column, space-between, center);
    text-align: center;
    padding-bottom: 3rem;

    h1 {
        font-size: 1.5rem;
        font-weight: 600;
        padding: 1rem 3rem 0 3rem;
    }
}

.research__explore p {
    font-size: 1.1rem;
    font-weight: 200;
    padding: 0 1rem 1rem 1rem;
}

/* section fonctionnement */
.function {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 0 2rem 3%;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

@media screen and (min-width: 426px) {
    .function {
        width: 100%;
        padding-left: 0;
        align-items: center;
        align-content: center;

        .h2 {
            margin: auto;
            align-items: center;
            align-content: center;
        }
    }
}

@media screen and (min-width: 1024px) {
    .function {
        align-items: center;
        align-content: center;
    }
}
/* ensemble des 3 vignettes */
.function__cards {
    @include flex(column, space-between, flex-start);
}

@media screen and (min-width: 1024px) {
    .function__cards {
        @include flex(row, space-around, center);
        flex-wrap: nowrap;
        width: 96%;
    }
}
/* chaque vignette */
.function__card {
    width: 90%;
    height: 4.4rem;
    font-size: 1rem;
    font-family: 'Roboto';
    @include flex(row, flex-start, center);
    flex-wrap: nowrap;
    background-color: $fond-lightgrey;
    border-radius: 1.5rem;
    @include box-shadow;
    margin: 1rem 0 0.5rem 0.5rem;
    cursor: pointer;
    position: relative;
    padding-left: 1rem;
    border: none;

    @include media-min(426px) {
        width: 22rem;
        margin: 1rem 0 1rem 0;
    }

    @include media-min(1024px) {
        margin: 0 1rem 0 1rem;
    }
}
/* effet sur chaque vignette */
.function__card:hover {
    background-color: #efe2fa;
    box-shadow: 5px 5px 10px #9A9C9C;
    cursor: pointer;
}

.number {
    width: 1.6rem;
    height: 1.6rem;
    font-size: 0.9rem;
    background-color: $violet;
    color: white;
    border-radius: 100%;
    text-align: center;
    line-height: 1.7rem;
    position: absolute;
    bottom: 1.3rem;
    left: -0.5rem;
}

.function__card i {
    padding: 2rem;
    font-size: 1.2rem;
    color: rgb(107, 107, 107);
}
/* section restaurants */
#restaurants {
    display: flex;
    flex-direction: column;
    background-color: $fond-lightgrey;
    width: 100%;
    padding: 2rem 0 3rem 0;

    h2 {
        width: 96%;
        padding-left: 4%;
        font-size: 1.5rem;
        font-weight: 500;
    }

    @include media-min(1024px) {
        width: 100%;
    }
}
/* concerne les cartes des 4 restaurants - sans le titre de la section */
@media screen and (min-width: 426px) {
    .restaurants__labels {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}

@media screen and (min-width: 1024px) {

    .restaurants__labels {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
/* chaque vignette de restaurant */
.restaurant__card {
    background-color: white;
    width: 90%;
    height: 20%;
    border-radius: 1rem;
    margin: 0 1rem 1rem 1rem;
    position: relative;
    @include box-shadow;

    @include media-min(1024px) {
        width: 45%;
        margin: 1rem;
    }
}

/* petite vignette NOUVEAU */
.card__new {
    width: 5rem;
    height: 1.7rem;
    background-color: $mint;
    color: rgb(21, 119, 83);
    border-radius: 0.1rem;
    text-align: center;
    position: absolute;
    top: 1rem;
    right: 1rem;

    p {
        margin-top: 0.3rem;
        font-size: 0.9rem;
    }
}
 /* img vignette restaurant */
.restaurant__photo {
    width: 100%;
    height: 10.9rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}
/* tout ce qui est sous l'img de la vignette */
.underphoto {
    width: 100%;
    height: 4.7rem;
    @include flex(row, space-between, center);

    &__text {
        padding-left: 1rem;
    }

    .underphoto__text h3 {
        font-size: 1.2rem;
        margin-top: 0.3rem;
    }

    .district {
        font-weight: 300;
        margin-top: -0.8rem;
    }

    .like__heart i {
        padding-right: 1rem;
    }
}