body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: initial;
}

.research {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.research__city {
    width: 100%;
    background-color: rgb(229, 229, 229);
    @include flex(row, center, center);
    padding: 1rem 0 1rem 0;

    i {
        padding-right: 0.75rem;
    }
}

.research__input {
    width: auto;
    border-style: none;
    background-color: rgb(229, 229, 229);
    font-size: 1rem;
    color: black;
    cursor: text;
}

.research__explore {
    width: 100%;
    height: auto;
    background-color: $fond-lightgrey;
    @include flex(column, space-between, center);
    text-align: center;
    padding-bottom: 3rem;

    h1 {
        font-size: 1.3rem;
        font-weight: 500;
        padding: 1rem 2.5rem 1rem 2.5rem;
    }
}

.research__explore p {
    font-size: 1rem;
    font-weight: 100;
    margin-top: -0.5rem;
    padding: 0.5rem 1.5rem 1rem 1.5rem;
}

.explore__button {
    @include button;
    width: 13.6rem;
    font-weight: 400;
    border: none;
    font-size: 1rem;
}

.explore__button:hover {
    box-shadow: 5px 5px 10px #575757;
    opacity: 0.7;
    cursor: pointer;
}

.function {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem 0 2rem 5%;
}

@media screen and (min-width: 426px) {
    .function {
        width: 100%;
        padding-left: 0;
        align-items: center;
        align-content: center;

        .h2 {
            margin: auto;
            align-items: center;
            align-content: center;
        }
    }
}

@media screen and (min-width: 1024px) {
    .function {
        align-items: center;
        align-content: center;
    }
}

h2 {
    font-size: 1.3rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
}


.function__cards {
    @include flex(column, space-between, center);
}

@media screen and (min-width: 1024px) {
    .function__cards {
        @include flex(row, space-around, center);
        flex-wrap: nowrap;
        width: 98%;
        margin-right: 2%;
    }
}

.function__card {
    width: 16rem;
    height: 4.4rem;
    font-size: 1rem;
    font-family: 'Roboto';
    @include flex(row, flex-start, center);
    flex-wrap: nowrap;
    background-color: $fond-lightgrey;
    border-radius: 1.5rem;
    @include box-shadow;
    margin: 1rem 0 0.5rem 0.5rem;
    cursor: pointer;
    position: relative;
    padding-left: 1rem;
    border: none;
}

.function__card:hover {
    background-color: #efe2fa;
    box-shadow: 5px 5px 10px #9A9C9C;
    cursor: pointer;
}

.number {
    width: 1.6rem;
    height: 1.6rem;
    font-size: 0.9rem;
    background-color: $violet;
    color: white;
    border-radius: 100%;
    text-align: center;
    line-height: 1.7rem;
    position: absolute;
    bottom: 1.3rem;
    left: -0.5rem;
}

.function__card i {
    padding: 1rem;
    font-size: 1.2rem;
    color: rgb(107, 107, 107);
}

.restaurants {
    display: flex;
    flex-direction: column;
    background-color: $fond-lightgrey;
    width: 97%;
    height: auto;
    padding: 1rem 0 2rem 3%;

    h2 {
        width: 98%;
        padding-left: 2%;
        font-size: 1.3rem;
        font-weight: 500;
    }
}

.restaurants__labels {
    width: 99%;
    padding-left: 1%;
}

@media screen and (min-width: 1024px) {

    .restaurants__labels {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 0%;
    }
}

.restaurant__card {
    background-color: white;
    border-radius: 1.25rem;
    width: 90%;
    height: 25%;
    border-radius: 1.6rem;
    margin: 0 0 1rem 0.8rem;
    position: relative;
}

@media screen and (min-width: 1024px) {
    .restaurant__card {
        width: 45%;
        margin: 1rem;
    }
}

.card__new {
    width: 5rem;
    height: 1.9rem;
    background-color: $mint;
    color: rgb(21, 119, 83);
    font-size: 0.9rem;
    border-radius: 0.3rem;
    text-align: center;
    align-content: center;
    position: absolute;
    top: 1.3rem;
    right: 1.3rem;

    p {
        margin-top: 0.5rem;
    }
}

.restaurant__photo {
    width: 100%;
    height: 10.9rem;
    object-fit: cover;
    border-radius: 1.6rem 1.6rem 0 0;
}

.underphoto {
    width: 100%;
    height: 4.7rem;
    @include flex(row, space-between, center);

    &__text {
        padding-left: 1rem;
    }

    .underphoto__text h3 {
        font-size: 1.2rem;
        margin-top: 0.3rem;
    }

    .district {
        font-weight: 100;
        margin-top: -0.8rem;
    }

    .like__heart i {
        padding-right: 1rem;
    }
}