body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

a {
  text-decoration: none;
  color: initial;
}

.header {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin: auto;

  i {
    font-size: 1.2rem;
    position: absolute;
    bottom: 40%;
    left: 3%;
  }
}

.header__logo {
  width: 10.3rem;
  height: 1.7rem;
  cursor: pointer;
  padding-top: 0.6rem;
}

.header__menu {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header__menu__picture img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.header__menu__title {
  font-family: "Shrikhand";
  border-radius: 1.5rem 1.6rem 0 0;
  background-color: $fond-lightgrey;
  @include flex(row, space-between, center);
  padding-left: 1rem;
  transform: translate(0, -40%);

  h1 {
    font-size: 1.5rem;
  }
}

.like__heart i {
  padding: 2rem 1rem 0 0;
  margin-bottom: -0.7rem;
}

.major {
  display: flex;
  flex-direction: column;
  background-color: $fond-lightgrey;
  position: relative;
}

.menu__title {
  font-weight: 200;
  font-size: 1rem;
  border-bottom: solid $mint;
  width: 2.5rem;
  margin-left: 0.9rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.menu__card {
  background-color: white;
  width: 88%;
  margin-left: 4%;
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  @include flex(row, space-between, center);
  flex-wrap: nowrap;
  @include box-shadow;
  @include text-ajust;
  position: relative;

  &:nth-child(2) {
    opacity: 0;
    animation: progress 1s 0.1s forwards;
  }

  &:nth-child(3) {
    opacity: 0;
    animation: progress 1s 0.3s forwards;
  }

  &:nth-child(4) {
    opacity: 0;
    animation: progress 1s 0.5s forwards;
  }

  &:nth-child(5) {
    opacity: 0;
    animation: progress 1s 0.7s forwards;
  }
  

  &:hover .menu__card__check {
    width: 4rem;
    transition: width 0.7s;
  }

  &:hover .menu__card__price {
    margin-right: 4rem;
    transition: margin-right 0.7s;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 1.7rem;
    @include text-ajust;
  }

  &__title {
    font-size: 1.1rem;
    @include text-ajust;
  }
}

.menu__card__description {
  font-weight: 100;
  font-size: 0.85rem;
  @include text-ajust;
}

.menu__card__price {
  padding-top: 1.6rem;
  font-weight: bold;
  margin-right: 2%;
  transition: margin-right 0.7s;
}

.menu__card__check {
  background-color: $mint;
  color: white;
  width: 0;
  height: 100%;
  font-size: 2rem;
  text-align: center;
  transition: width 0.7s;
  position: absolute;
  top: 0;
  right: 0;
  @include flex(column, center, center);
}

.menu__card__check__circle {
  transform: rotate(0turn);
  font-size: 1.5rem;
}

.menu__card:hover .menu__card__check__circle {
  animation: rotate_circle 0.75s;
}



/* nouvelles règles si mon site est consulté sur un écran de tablette */

@media screen and (min-width: 426px) {}

/* nouvelles règles si mon site est consulté sur un écran d'ordinateur */

@media screen and (min-width: 1024px) {
  .major {
    padding: 0;
    margin-top: -2%;
  }

  .menu {
    width: 95%;
    margin-left: 1.8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu__start {
    width: 30%;
  }

  .menu__main {
    width: 30%;
  }

  .menu__dessert {
    width: 30%;
  }

  .menu__card {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    @include flex(row, space-between, center);
    flex-wrap: nowrap;
    @include box-shadow;
  }

  .btn__order {
    background-color: rgb(244, 244, 244);
  }
}