.button__heart {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1.2vw;

    &--on {
        background: linear-gradient( $rose, 75%, $violet);
        background-clip: text;
        color: transparent;
        transition: all 400ms ease-in-out;
        transform: scale(0);
    }

    &--off {
        z-index:1;
        transition: all 400ms ease-in-out;

        &:hover{
            opacity:0;
        }
    }

    &--off:hover + &--on {
        animation: animationheart 400ms both;
    }
}