.button__explore {
  @include button;
  width: 13.6rem;
  font-weight: 400;
  border: none;
  font-size: 1rem;

  &:hover {
      box-shadow: 5px 5px 10px #575757;
      opacity: 0.7;
      cursor: pointer;
  }
}

.like__heart {
  font-weight: 100;
  font-size: 2rem;
  position: relative;
}

.button_like__heart {
  position: absolute;
  bottom: 0;
  right: 0;

  &--on {
    background: linear-gradient(to right bottom, $rose, $violet);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 400ms;
    transform: scale(0);
  }

  &--off {
    z-index: 1;
    transition: all 400ms ease-in-out;
  }
}
.button_like__heart:hover {
  opacity: 0;
}

.button_like__heart--off:hover+.button_like__heart--on {
  animation: liking_heart 400ms both;
}



.button__order {
  @include button;
  width: 11rem;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border: none;
  font-size: 1rem;
}

.button__order:hover {
  box-shadow: 5px 5px 10px #575757;
  opacity: 0.7;
  cursor: pointer;
}