/* fond du loader */

@keyframes disparition_loader {
    0% {
        opacity: 1;
        background: linear-gradient(to right bottom, $rose, $violet);
        z-index: 1;
    }

    99% {
        opacity: 1;
        background: linear-gradient(to right bottom, $rose, $violet);
        z-index: 1;
    }

    100% {
        opacity: 0;
        display: none;
        z-index: -2;
    }
}
/* typo du loader avec effet blur */
@keyframes load {
    0% {
        opacity: 1;
        display: block;
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        filter: blur(5px);
        letter-spacing: 5px;
    }
}

/* rotation du check menu */
@keyframes rotate_circle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* animation d'apparition progressive des vignettes menu */
@keyframes progress {
    0% {
        opacity: 0;
        transform: translate(0, 0.5rem);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}